# Dependencies
node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production build files
/dist
/dist-ssr
*.local

# Environment variables
.env
.env*.local
.env.*[0-9]
!.env.example
!.env*.example

# Local system files
.DS_Store
.idea
.vscode
*.suo
*.user
*.cas
*.njsproj
*.sln
*.vssscc
.npmrc
yarn.lock
pnpm-lock.yaml